<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style3.css">
    <title>Document</title>
</head>
<body>

    <div id="container">
       <a class = "voice" href="#">Activate Voice</a>

       <!--
       <div class= "chat-container">
        <p class = "voice2text">Hi there!</p>
       </div>

       <div class= "chat-container darker">
        <p class = "voice2text">Hello back"</p>
       </div>

       -->

    </div>
    <script src= "static/js/main1.js"></script>
</body>
</html>