{% extends "base.html" %}
{% block content%}

<h4 class ="center-align  light-blue-text text-darken-4">Lab Work Form</h4>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action= "{{url_for('test')}}">
            <div class="card-panel">
                 <!-- Doctor Full Name-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
                        <input id="name" name="name" type="text" pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)" class="validate">
                        <label for="name">Full Name</label>
                    </div>
                </div>
                <!--Title-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-md prefix light-blue-text text-darken-4"></i>
                        <input id="title" name="title" type="text" pattern="^([a-zA-Z]{5,10})" class="validate">
                        <label for="title">Title</label>
                    </div>
                </div>
                <!--Test Date-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                        <input id="due_date" name="due_date" type="text" class=" datepicker validate" required>
                    <label for="due_date">Medical Test Date</label>
                    </div>
                </div>

                 
               <!--Patient Id Number -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-id-card prefix light-blue-text text-darken-4"></i>
                        <input id="id_num" name="id_num" type="text" pattern="^[0-9A-Z]{5}$" class="validate">
                        <label for="id_num"> Patient Id Number </label>
                    </div>
                </div>

                <!--Test 1-->
                <div class="row">
                    <div class="col s12">
                        <p>
                            <label>
                                <input type="checkbox" name="checkbox" />
                                <p>Basic Metabolic Panel</p>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" name="checkbox" />
                                <span>Brain natriuretic peptide </span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span> Complete Blood Count </span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Ferritin </span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Glycated Hemoglobin</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Lipid Panel</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Liver Function Test </span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Tyroid Function Test </span>
                            </label>
                        </p>
                    </div>
                </div>

                <!--submit-->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Submit <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
           </div>
        </form>
    </div>
            


{% endblock %}